@use '../ui_utils/animation';

.add-item {
  display: flex;
  border: solid 2px rgba(var(--rgb-onSurface), 0.12);
  border-radius: 8px;
}

.add-item:focus-within {
  border-color: var(--color-primary);
}

.add-item > .text-input {
  flex-grow: 1;
  margin-left: 8px;
}

.add-item > .button {
  align-self: center;
  margin-right: 4px;
}

// this class should go in css_utils in ui_utils  folder
.error-border:focus-within {
  border-color: var(--color-error);
}
