@use "../ui_utils/font";

.todo-list {
  margin-top: 8px;
}

// name of the css class is same as that of the component
.todo-list > .list {
  display: flex;
  flex-direction: column;
  //gap: 2px;
}

.todo-item {
  background: white;
  height: 48px;
  border: solid 2px rgba(var(--rgb-onSurface), 0.12);
  border-radius: 8px;
  padding: 12px 8px 12px 16px;
  @include font.subtitle1();

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  margin-bottom: 2px;

  transition-property: margin-bottom, opacity;
  transition-duration: 1s;
  opacity: 1;
}

.todo-item > .note-text {
  flex-grow: 1;
}

.entering {
  margin-bottom: -48px;
  opacity: 0;
  z-index: -100;
}

.entered {
  margin-bottom: 2px;
  opacity: 1;
  z-index: 0;
}

.exiting {
  margin-bottom: -48px;
  opacity: 0;
  z-index: -100;
}

/* no use */
.exited {
  opacity: 0;
}
