/*
primaryColor: darkgreen
surface: #ffffff
onSurface: #000000
*/

/*
// todo: add color support
// todo: add typography support
*/

.add-item {
    display: flex;
    border: solid 2px rgba(var(--color-onSurface-rgb), 0.12);
    border-radius: 8px;
}

.add-item:focus-within {
    border-color: var(--color-primary);
}

.add-item > .input {
    flex-grow: 1;
    margin-left: 8px;
}

.add-item > .button {
    align-self: center;
    margin-right: 4px;
}
